// need to be careful because there is another stylesheet in public
// directory
.loginArea {
  display:none;
}

div {
  border: medium dashed #15f524;
  padding: 10px;
}


#main {
  display: flex;
  flex-direction: column;
}


.headerLinkDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}


body {
  color: pink;
  background-color:black;
}

a {
  color: #ADD8E6
}

.potentialList {
  flex-direction: column;
}

.included {
  flex-direction: column;
}

.wideInput {
  flex: 1;
  margin: 10px;
}





.itemdiv {
  margin-left: 10px;
  flex-direction: row;
  display: flex;

}

.itemdiv > a:link {
  color: #bcbddc;
}

a:visited {
  color:orange;
}

.itemNameDiv {
  flex: 3;
}

.itemQuantDiv {
  flex:2;
}

.itemDeets {
  display:flex;
  flex-direction: row;
  justify-content: baseline;
  vertical-align: baseline;
  padding: 10px;

}

.itemDeets > h4 {
  padding: 5px;
  vertical-align: baseline;
}
.itemDeets > span {
  padding-top: 10px;
  vertical-align: baseline;
}

.footerDiv {
  background-color: #525252;
  padding-top: 10px;
}

.itemViewing {
  display: none;
}

.bagdeetDiv {
  display: flex;
  flex-direction: row;
  vertical-align: baseline;
}

.bagInfoHeader {
  width: 10%;

}

.bagDetails {
  margin-top: 1.75%;
}

.baglabeldiv {
  flex: 1;
}

.baginputdiv {
  flex: 4;
}

.bagformdiv {
  display: flex;
  flex-direction:row;
}

.baginput {
  width: 100%
}

.addItemDiv {
  display: flex;
}

.addInput {
  flex: 7
}

.addLabel {
  flex:1;
}

.categoryText {
  flex: 5;
}

.addSelect {
  flex: 5;
}

.noItem {
  background: coral;
}

.itemBag {
  display: flex;
  flex-direction: row;
}

.itemBagName {
  flex: 4;
}

.ItemBagQuantity {
  flex: 1;
}
